body {
    font-family: 'Roboto', sans-serif;
    background-color: #1f1b29;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#button1 {
    background: none;
    color: #ffa260;
    border: 2px solid;
    padding: 1em 2em;
    font-size: 1em;
    transition: all 0.25s;
}

#button1:hover {
    border-color: #f1ff5c;
    color: white;
    box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
    transform: translateY(-.25em);
    cursor: pointer;
}

#button2 {
    background: none;
    color: #ffa260;
    border: 2px solid;
    padding: 1em 2em;
    font-size: 1em;
    transition: all 0.25s;
}

#button2:hover {
    border-color: #ff0000;
    border-radius: 10%;
    color: rgb(117, 40, 40);
    box-shadow: 0 0.5em 0.5em -0.4em #ff0000;
    transform: translateY(.125em);
    transform: scale(.95);
    cursor: pointer;
}

